#chat-grid {
  height: 100vh;
}

#chatroom-title {
  padding: 20px;
  height: 20%;
  background-color: #000000;
}

#chatroom-messages-list {
  height: 60%;
  background-color: #C4CED4;
  overflow-y: scroll;
}

#chatroom-input-bar {
  height: 20%;
  background-color: #E13A3E;
}


#chat-handle, #chat-message {
  display: flex;
  text-align: left;
}
