#chatroom-container {
  margin: 0 auto;
  height: 500px;
  background-color: salmon;
  overflow-y: scroll;
}

#chatroom-input {
  margin: 0 auto;
  width: 500px;
  background-color: orange;
}

#chat-handle, #chat-message {
  display: flex;
  text-align: left;
}
